.individual-card:after {
    content: "";
    display: flex;
    clear: both;
    margin-left: 50px;
    background-color: rgb(49, 160, 544);
}

.individual-card{
    justify-content: center;
    justify-items: center;
    text-align: center;
    background: #efeff1;
    display: inline-block;
    margin: 25px;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(24, 12, 25, 34.2);
}

.detail{
    text-align: center;
    background-color: darkgray;
}

p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}